/* :root {
  --bg-color: #EEEEEE;
  --hd-color: #00ADB5;
  --t-color: #393E46;
} */

.about-page {
  /* background-color: white; */
  background-color: var(--bg-color);
  height: 99vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

/*page text*/
.about-heading{

  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  letter-spacing: -0.015em;
  position: relative;
  /* left: 50%; */
  top: 0%;
  color: black;
  margin: 0 auto;
}
.about-text{
  /* font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: -0.015em;
  width: 60%;
  position: relative;
  left: 0%;
  /*top: 13%; */
  /* color: #707070; */
  /* color: var(--t-color); */
  /* margin: 0 auto; */
  /* margin-top: 20px;
  line-height: 1.5; */

  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: -0.015em;
  width: 60%;
  position: absolute;
  left: 0%;
  color: black;
  /* margin-top: 20px; */
  line-height: 1.5;
  top: 25%;
  margin: 0;
  height: 50%;


}

.reference-links {

  width: 100%;
  position: absolute;
  left: 0%;

  top: 90%;
  text-align: center;
  padding: 20px 0 20px 0;
  height: 10%;
}

.reference-item {
  margin: 100px;
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: black;
}

.reference-item:hover {
  margin: 100px;
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: var(--nv-color);
}


/*grid*/
#grid {
  width: 1200px;
  height: 790px;
  top: 790px;
  left: 40px;
  position: absolute;
}

.grid-heading {
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  letter-spacing: -0.015em;
  position: absolute;
  /* left: 50%; */
  top: 80px;
  color: black;
  /* margin: 0 auto; */
}
.about-box {
  margin: 5px;
  text-align: center;
}
.about-grid {
  padding: 5px;
  overflow-y: auto;
  height: 70%;
  /* width: 84vw; */
  width: 113.5%;
  /* left: 8%;
  top: 25%; */
  left: -6.5%;
  top: 175px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.about-grid > div {
  flex-basis: calc(24%);
}
.about-name {
  /* color: black; */
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}

.image-sizing {
  /* max-width:150px;
  max-height:150px; */
  width: 180px;
  height: 200px;
  /* max-width: 85%; */
  /* max-height: 85%; */
  object-fit: cover;
  border-radius: 5px;
}





.about-team {
  width: 1200px;
  height: 570px;
  top: 80px;
  left: 40px;
  position: absolute;
  /* text-align: center; */

}


#scholarly {
  width: 1200px;
  height: 790px;
  top: 1580px;
  left: 40px;
  position: absolute;
}

.publication-links{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-align: left;
  letter-spacing: -0.015em;
  /* width: 70vw; */
  position: absolute;
  /* left: 10.7%; */
  top: 80px;

  /* color: #707070; */

  color: black;
  /* padding-left: 40px; */
}

.publications{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: left;
  letter-spacing: -0.015em;
  /* width: 1270px; */
  position: absolute;
  /* left: 50px; */
  top: 160px;
  /* padding: 150px; */
  /* color: #707070; */
  color: black;

  /* color: #707070; */
  padding: 0 20px;
}


ul {
  list-style: none;



}

#scholarly ul li {
  list-style-type: square;
  line-height: 1.5;
  padding: 10px;

}



.nyuadImage {
  width: 22.5%;
  height: auto;
  position: relative;
  right: 23%;
  top:5%;
}

.gitImage {
  font-size: 10rem;
  position: relative;
  left: -2.5%;
  bottom: 5%;
  color: var(--nv-color);
}

.camelImage {
  width: 20%;
  height: auto;
  left: 80%;
  position: absolute;
  /* bottom: 2.5%; */
}

.toiaImage {
  width: 30%;
  /* height: auto; */
  left: 70%;
  position: absolute;
  top: 5%;

}

.logos {
  width: 1270px;
  height: 300px;
  top: 880px;
  left: 50px;
  position: absolute;
  text-align: center;
}
