/* :root {
  --bg-color: #EEEEEE;
  --hd-color: #00ADB5;
  --t-color: #393E46;
} */

.about-page {
  /* background-color: white; */
  background-color: var(--bg-color);
  height: 99vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

/*page text*/
.about-heading{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.015em;
  position: absolute;
  left: 40%;
  top: 4%;
  color: var(--hd-color);
}
.about-text{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  width: 70vw;
  position: absolute;
  left: 14%;
  top: 13%;
  /* color: #707070; */
  color: var(--t-color);
}

.publication-links{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  letter-spacing: -0.015em;
  width: 70vw;
  position: absolute;
  left: 10.7%;
  top: 13%;
  /* color: #707070; */
  color: var(--hd-color);
}

.publications{
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.015em;
  width: 100vw;
  position: absolute;
  /* left: 14%; */
  top: 98%;
  padding: 150px;
  /* color: #707070;  */
  color: var(--t-color);
  background-color: var(--bg-color);
  
  /* padding: 0 */
}

/* li {
  margin-left: 10px;
  /* list-style-type: circle; */
  /* font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: left;
  letter-spacing: -0.015em;
  width: 70vw;
  color: #707070;
}

li a {
  margin-left: inherit;
}

ul {
  padding-left: 2rem;
  list-style-type: square;
} */ 

ul li {
  padding: 2rem;
  /* color: #707070; */
  color: var(--t-color);
  list-style-type: square;
} 
/*grid*/
.about-box {
  margin: 5px;
  text-align: center;
}
.about-grid {
  padding: 5px;
  overflow-y: auto;
  height: 70vh;
  width: 84vw;
  left: 8%;
  top: 25%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.about-grid > div {
  flex-basis: calc(18%);
}
.about-name {
  /* color: black; */
  color: var(--t-color);
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
}

.image-sizing {
  /* max-width:150px;
  max-height:150px; */
  width: 200px;
  height: 250px;
  /* max-width: 85%; */
  /* max-height: 85%; */
  object-fit: cover;
}