.garden-page {
  background-color: white;
  height: 100vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
.garden-add:hover {
  transform: scale(1.1);
}

/*elements*/
.garden-add {
  background-color: transparent;
  height: 98px;
  left: 90%;
  top: 80%;
  width: 98px;
  position: absolute;
  pointer-events: auto;
  transition: all 0.2s ease-out;
}

/*buttons*/
.garden-edit {
  background-color: #22d6d6;
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-color: transparent;
  margin-right: 20px;
  cursor: pointer;
}
.garden-delete {
  background-color: #d21a1a;
  color: white;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border-color: transparent;
  width: 90px;
  cursor: pointer;
}

/*grid*/
.garden-box {
  margin: 20px;
  text-align: center;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: 250px 250px;
}
.garden-grid {
  padding: 10px;
  overflow-y: scroll;
  height: 65vh;
  width: 80vw;
  left: 10%;
  top: 15%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.garden-grid > div {
  flex-basis: calc(25% - 40px);
}
.garden-name {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  top: 15%;
  position: relative;
  padding: 10px;
}
.garden-popup {
  top: 60%;
  left: 3%;
  position: relative;
}
/*searchbar*/
.garden-search {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 13%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 7%;
  width: 45vw;
  padding: 2px;
  font-size: 15px;
  margin: 5px 0;
}
.garden-sort {
  background-color: #f8f8f8;
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 60%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 7%;
  width: 30vw;
  padding: 2px;
  font-size: 15px;
  margin: 5px 0;
}
.garden-search::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: black;
}
.garden-search::-moz-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: black;
}
.garden-search:-ms-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: black;
}
