.view-page {
  background-color: white;
  height: 100vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
.view-submit-button:hover {
  transform: scale(1.1);
}

/*elements*/
.view-group {
  background-color: transparent;
  height: 435px;
  left: 40%;
  position: absolute;
  top: 15%;
  width: 665px;
}
.view-back_icon {
  background-color: transparent;
  height: 30px;
  left: 2%;
  top: 2%;
  width: 30px;
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}
.view-submit-button {
  background-color: transparent;
  height: 90px;
  left: 80%;
  pointer-events: auto;
  position: absolute;
  top: 80%;
  transition: all 0.2s ease;
  width: 183px;
}
.view-still {
  height: 400px;
  width: 400px;
  top: 17%;
  left: 8%;
  position: absolute;
}

/*texts and fonts*/
.view-font-class-1 {
  color: black;
  font-family: "Montserrat-Medium", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.21px;
}
.view-name {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 78px;
}
.view-creator {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 59px;
  width: 78px;
}
.view-lang {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 115px;
  width: 78px;
}
.view-bio {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 173px;
  width: 78px;
}

/*text boxes*/
.view-name_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 85px;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0px;
  width: 570px;
}
.view-creator_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 85px;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 56px;
  width: 570px;
}
.view-lang_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 85px;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 112px;
  width: 570px;
}
.view-bio_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 200px;
  left: 85px;
  padding: 8px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 168px;
  width: 570px;
}
.view-lang2_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 0px;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 393px;
  width: 655px;
}

/*colors*/
:root {
  --robins-egg-blue: rgba(34, 214, 214, 0.1);
}
