.avatar-settings-page-1 {
  background-color: white;
  height: 100vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}
.settings-group {
  background-color: transparent;
  height: 60vh;
  position: relative;
  left: 7%;
  top: 200px;
  width: 90vw;
}

/*In Page Text*/
.settings-settings {
  background-color: transparent;
  height: auto;
  left: 40%;
  position: absolute;
  text-align: center;
  top: 4%;
  width: 350px;
}
.settings-edit {
  background-color: transparent;
  display: block;
  height: 29px;
  left: 45%;
  position: absolute;
  text-align: center;
  top: 13%;
  width: auto;
  opacity: 0;
  transform: translate(0, 25px);
}
.settings-name {
  background-color: transparent;
  height: 17px;
  left: 49%;
  position: absolute;
  text-align: left;
  top: 3px;
  width: 78px;
}
.settings-priv {
  background-color: transparent;
  height: 17px;
  left: 49%;
  position: absolute;
  text-align: left;
  top: 59px;
  width: 78px;
}
.settings-lang {
  background-color: transparent;
  height: 17px;
  left: 49%;
  position: absolute;
  text-align: left;
  top: 115px;
  width: 78px;
}
.settings-bio {
  background-color: transparent;
  height: 17px;
  left: 49%;
  position: absolute;
  text-align: left;
  top: 173px;
  width: 78px;
}

/*Text Boxes and their placeholders*/
.settings-still {
  height: 400px;
  width: 400px;
  top: 0;
  left: 0;
  position: absolute;
}
.settings-name_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 55%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0px;
  width: 570px;
}
.settings-priv_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 55%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 56px;
  width: 570px;
}
.settings-lang_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 31px;
  left: 55%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 112px;
  width: 570px;
}
.settings-bio_box {
  background-color: var(--robins-egg-blue);
  border: 0;
  border-radius: 3px;
  height: 200px;
  left: 55%;
  padding: 8px;
  position: absolute;
  resize: none;
  text-align: left;
  top: 168px;
  width: 570px;
}

/*Alignment and Fonts*/
.settings-font-class-1 {
  color: var(--black);
  font-family: "Montserrat-Medium", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.21px;
}
.settings-font-class-2 {
  color: var(--black);
  font-family: "Montserrat-Medium", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.18px;
}
.settings-font-class-3 {
  color: black;
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.54px;
}

/*Colours*/
:root {
  --black: rgba(0, 0, 0, 0.75);
  --robins-egg-blue: rgba(34, 214, 214, 0.1);
  --robins-blue: rgba(34, 214, 214, 1);
}

/*Animations*/
.settings-animate-enter {
  animation: settings-animate-enter-frames 1s ease-in-out 0s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}
.settings-submit-button:hover {
  transform: scale(1.1);
}
@keyframes settings-animate-enter-frames {
  from {
    opacity: 0;
    transform: translate(0, 25px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
