:root {
    --desert-storm: rgba(248, 248, 248, 1);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.home-page {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.toia-home-video {
    border-radius: 25px;
    margin-top: 50px;
    width: 75%;
}

.home-sample-videos {
    width: 30vw;
    height: auto;
    margin-right: 10vw;
}

.home-overlap-group {
    margin-top: 40px;
}

.home-toia {
    visibility: hidden;
    font-size: 14vh;
    font-weight: bold;
    margin-bottom: 3vh;
}

.home-des {
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 4vh;
}

.home-welcome-text {
    font-size: 3vh;
    font-weight: 600;

}

.home-about {
    width: 100%;
	padding: 15px 50px;
	border-radius: 25px;
	border: none;
	background-color: black;
	color: #ffffff;
	font-size: 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.home-about:hover{
    transform: scale(1.1);
}

.home-signup {
    width: 30vw;
    max-width: 450px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.home-signup:hover {
    transform: scale(1.1);
}

.home-montserrat-black {
    font-family: "Open Sans-Bold", Helvetica, Arial, serif;
    font-style: bold;
    font-size: 35px;
}

.home-opensans-normal {
    font-family: "Open Sans-Bold", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: bold;
}

.moved {
    transform: translate(125%, 3%) scale(0.36); /* Adjust translation and scale as needed */
    transition: transform 1s ease-in-out;
}

@media (max-width: 600px) {

    .home-toia {
        margin-bottom: 0vh;
    }

    .home-page {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .home-sample-videos {
        width: 80vw;
    }


    .home-signup {
        width: 60vw;
    }

    .home-welcome-text,
    .home-des {
        font-size: 3.3vh;
    }

    .home-toia {
        font-size: 15vh;
    }

    .home-sample-videos {
        margin-right: 0;
    }

    .moved {
        transform: translate(0%, 72.5%) scale(0.35); /* Adjust translation and scale as needed */
        transition: transform 1s ease-in-out;
    }
}