body {
    font-family: "Open Sans-Bold", Helvetica, Arial, serif !important;
}

.video-layout-recorder-box {
    position: relative;
}

.video-layout-player-box {
    position: relative;
}

.halves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.first-half {
    flex: 1 1 60%; /* Change to 2 rows of 3 */
}

.second-half {
    flex: 1 1 40%;
    padding-right: 40px;
}

.tag-title {
    padding-left: 26px;
}

.layout {
    border-radius: 25px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto; /* This centers the webcam horizontally */
}

.video-layout-player-middle {
    border-radius: 25px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto; /* This centers the webcam horizontally */
}

.timer-wrapper {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Ensure this is above the video layer */
}

.video-layout-player-top {
    padding-top: 50px;
    padding-right: 40vw;
}

.timer-view {
    background-color: red; /* Semi-transparent black background */
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1em; /* Adjust font size as needed */
    /* Add any additional styling you want for the timer display */
}

.videoControlButtons {
    position: absolute;
    bottom: 45px; /* Adjust as needed */
    left: 60px; /* Adjust as needed */
    z-index: 10; /* Ensure this is above the video layer */
    /* Add any additional styling you want for the buttons */
    background-color: transparent; /* Semi-transparent background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.videoControlButtons img {
    width: 25px; /* Size of the inner image */
    height: 25px; /* Size of the inner image */
}

.title {
    padding-left: 44px;
    padding-top: 30px;
    background-color: transparent;
}

#recorder-check-btn {
    position: absolute;
    bottom: 50px; /* Distance from the bottom of the video */
    right: 4vw;
    width: 80px;
    z-index: 10; /* Ensure this is above the video layer */
    background-color: transparent; /* Semi-transparent background */
    border: none;
    cursor: pointer;
    color: var(--check-green);
}

.recorder-speech {
    position: absolute;
    bottom: 50px; /* Align with the bottom of the button */
    left: calc(20px + 40px + 45px); /* Button's left + button's width + some space */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    color: #333; /* Dark text color for readability */
    border-radius: 5px; /* Rounded corners */
    width: calc(100% - 20px - 56px - 160px); /* Full width minus button and padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: shadow for depth */
    /* Ensuring text doesn't overflow the box */
    white-space: nowrap;
    overflow: auto;
    resize: none;
    text-align: center;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recorder-check-btn i {
    font-size: 2rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 43vw;
    padding-top: 7px;
    padding-bottom: 10px;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px 10px 10px 10px;
}

.stream-select {
    height: 30px;
    flex: 0 0 96.6%;
    padding-left: 17.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

._7ahQImyV4dj0EpcNOjnwA {
    margin-bottom: 0px;
    background: rgb(177, 247, 176);
    color: black;
}

.search-wrapper {
    border: 1px solid black;
    min-height: 40px;
    border-radius: 5px;
}

.multiselect-inner-wrapper {
    border: 1px solid black;
    min-height: 40px;
    border-radius: 5px;
}

.multiselect-input-wrapper {
    padding-left: 8px;
}

.multiselect-inner-wrapper .multiselect-selected-item {
    margin: 5.2px 4px;
    background: rgb(177, 247, 176);
    border-radius: 10px;
    color: black;
    padding: 4px 10px;
    margin-right: 5px;
    display: flex;
}

.multiselect-inner-wrapper .multiselect-selected-item .remove-btn {
    line-height: 12px;
    font-size: 21px;
    color: black;
    margin-left: 7px;
    color:black;    
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    font-weight:bold;
    border: 0px;
}

._3crOX-etLxsZ8OgjhYCvt7 {
    font-size: 18px;
    margin-right: 0px;
    line-height: -4px;
    margin-right: -5px;
}

._3vt7_Mh4hRCFbp__dFqBCI input {
    margin-top: 5px;
    margin-left: 3px;
}

.lhyQmCtWOINviMz0WG_gr {
    background: #f1f1f1;
    color: black;
}

._3vt7_Mh4hRCFbp__dFqBCI ul {
    background: #f1f1f1;
    color: black;
}

.dropdown-content {
    margin-top: -4.5px;
    z-index: 2;
    margin-left: 4.5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 98%;
}

.optionContainer ul:hover {
    background: red;
    color: black;
}

.fa-eye, .fa-eye-slash {
    font-size: 20px; /* adjust size as needed */
    color: black; /* adjust color as needed */
    cursor: pointer; /* to indicate it's clickable */
}

.tag-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    gap: 15px 20px;
}

.tag-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 550;
    border-radius: 15px;
    height: 60px;
    flex: 0 0 calc(100% / 3.5); /* Change to 2 rows of 3 */
}

.content {
    padding-left: 25px;
}

.question-selection-box {
    padding-top: 20px;
    width: 96%;
    padding-left: 22px;
}

@media (max-width: 1030px) {

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .title {
        margin-left: -16px;
    }

    .layout {
        border-radius: 25px;
        width: 90%;
        height: auto;
        display: block;
        margin: auto; /* This centers the webcam horizontally */
    }

    .video-layout-player-box {
        padding-bottom: 30px;
    }

    .video-layout-player-top {
        padding-right: 8vw;
    }

    .first-half, .second-half {
        flex: 1 1 100%;
    }

    .second-half {
        padding-top: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 600px) {

    .tag-buttons {
        padding-left: 8px;
    }

    .stream-select {
        padding-left: 14px;
        width: 100%;
    }

    .tag-title {
        padding-left: 26px;
    }

    .video-layout-recorder-box {
        position: relative;
    }

    .video-layout-player-box {
        position: relative;
    }

    .layout {
        width: 90%; /* Adjust this value as needed */
        height: auto;
        display: block;
        margin: auto; /* This centers the webcam horizontally */
    }

    .timer-wrapper {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10; /* Ensure this is above the video layer */
    }

    .timer-view {
        background-color: red; /* Semi-transparent black background */
        color: white;
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 1em; /* Adjust font size as needed */
        /* Add any additional styling you want for the timer display */
    }    

    .videoControlButtons {
        position: absolute;
        bottom: 40px; /* Adjust as needed */
        left: 35px; /* Adjust as needed */
        z-index: 10; /* Ensure this is above the video layer */
        /* Add any additional styling you want for the buttons */
        background-color: transparent; /* Semi-transparent background */
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .videoControlButtons img {
        width: 25px; /* Size of the inner image */
        height: 25px; /* Size of the inner image */
    }

    #recorder-check-btn {
        position: absolute;
        bottom: 40px; /* Distance from the bottom of the video */
        right: 20px;
        width: 80px;
        z-index: 10; /* Ensure this is above the video layer */
        background-color: transparent; /* Semi-transparent background */
        border: none;
        cursor: pointer;
        color: var(--check-green);
    }

    #recorder-check-btn i {
        font-size: 2rem;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    .recorder-speech {
        position: absolute;
        bottom: 42px; /* Align with the bottom of the button */
        left: calc(20px + 40px + 15px); /* Button's left + button's width + some space */
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
        color: #333; /* Dark text color for readability */
        border-radius: 5px; /* Rounded corners */
        width: calc(100% - 20px - 56px - 80px); /* Full width minus button and padding */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: shadow for depth */
        /* Ensuring text doesn't overflow the box */
        white-space: nowrap;
        overflow: auto;
        resize: none;
        text-align: center;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 430px) {
    .videoControlButtons {
        bottom: 35px; /* Adjust as needed */
        left: 25px; /* Adjust as needed */
    }

    .recorder-speech {
        bottom: 37px;
        left: 70px;
        width: calc(100% - 20px - 56px - 70px)
    }

    #recorder-check-btn {
        position: absolute;
        bottom: 37px; /* Distance from the bottom of the video */
        right: 10px;
        width: 80px;
        z-index: 10; /* Ensure this is above the video layer */
        background-color: transparent; /* Semi-transparent background */
        border: none;
        cursor: pointer;
        color: var(--check-green);
    }
}