video {
  display: inline;
  position: relative;
  z-index: 1;
}
.layout {
  position: absolute;
  left: 0;
  top: 4.5%;
  border-radius: 10px;
  width: 100%;
}
.record-page {
  background-color: white;
  height: 100vh;
  margin: 0px;
  min-height: 700px;
  min-width: 1440px;
  position: relative;
  width: 100%;
}

/*texts and fonts*/
.font-class-1 {
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
}
.font-class-3 {
  color: black;
  font-family: "Open Sans-Bold", Helvetica, Arial, serif;
  font-size: 3rem;
  /* changed from 24 px; */
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.54px;
}
.title {
  background-color: transparent;
  height: auto;
  /* left: 37%; */
  position: absolute;
  text-align: left;
  /*change from center*/
  /* top: 3%; */
  width: 350px;
}

/*Icons*/
.icon {
  display: block;
  position: absolute;
  left: 1%;
  top: 65%;
  
  /* position: relative; */
  width: 48px;
  z-index: 3;
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.check {
  display: block;
  position: absolute;
  left: 90%;
  top: 65%;
  width: 80px;
  font-size: 40px;
  z-index: 3;
  background-color: transparent;
  border: 0;
  color: var(--check-green);
  font-size: 3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}

/*Side Buttons*/
.side-bar {
  /* height: 80vh; */
  height: 600px;
  width: 30vw;
  top: 16%;
  left: 3%;
  position: absolute;
}
.side-button {
  height: 6vh;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  /* Changes */
  font-size: 1.5rem;
}
.b1 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.b2 {
  position: absolute;
  top: 0%;
  left: 59%;
}
.b3 {
  position: absolute;
  top: 10%;
  left: 0%;
}
.b4 {
  position: absolute;
  top: 10%;
  left: 59%;
}
.b5 {
  position: absolute;
  top: 20%;
  left: 0%;
}
.public {
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  position: absolute;
  padding-left: 15%;
  top: 40%;
  left: 0%;
}
.switch {
  position: absolute;
  left: 47%;
}
.select {
  position: absolute;
  top: 60%;
  left: 0%;
  width: 100%;
}
.divider1 {
  position: absolute;
  top: 33%;
  left: 5%;
  width: 90%;
  border: 4px solid rgba(194, 195, 196, 0.16);
  border-radius: 5px;
}
.divider2 {
  position: absolute;
  top: 52%;
  left: 5%;
  width: 90%;
  border: 4px solid rgba(194, 195, 196, 0.16);
  border-radius: 5px;
}

/*Questions and text field*/
.recorder-speech{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  height: 31px;
  z-index: 1;
  border: 0;
  /* padding: 0px 5px; */
  resize: none;
  overflow: auto;
  text-align: center;
  position: absolute;
  top:61.5%;
  width: 80%;
  /* position: relative;
  width: 40vw; */
  top: 66.5%;
  left: 10%;
  font-size: 1.5rem;
}
.type-q {
  background-color: rgba(126, 124, 124, 0.1);
  border: 0;
  border-radius: 3px;
  height: 41px;
  /* left: 39%; */
  left: 0%;
  padding: 5px;
  position: absolute;
  resize: none;
  text-align: left;
  /* top: 75%; */
  top: 85%;
  width: 100%;
  color: #707070;
  font-size: 1.5rem;
}

/*modal elements*/

#typeOfVideo{
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}

#answerCorrection {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 15px;;
}

#playbackVideo{

  text-align: center;
  left: 10%;
}
.modal-header {
  color: black;
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  height: 10%;
  text-align: center;
}
.modal-ans {
  background-color: rgba(126, 124, 124, 0.1);
  align-self: center;
  border: 0;
  border-radius: 3px;
  height: 15%;
  padding: 5px;
  resize: none;
  text-align: left;
  width: 100%;
  color: #707070;
  
}

/*Animations*/
:root {
  --black: rgba(0, 0, 0, 0.75);
  --robins-egg-blue: rgba(34, 214, 214, 0.1);
  --robins-blue: rgba(34, 214, 214, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --check-green: rgba(106, 226, 62, 1);
}


.Video-Layout {
  position: relative;
  left: 550px;
  top: 80px;
  height: 600px;
  width: 770px;
}