@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600,800");
.shhh-page {
	background-color: #302D2D;
	height: 100vh;
	padding: 10vw;
	position: relative;
	width: 100vw;
}

.shhh-grid::-webkit-scrollbar {
	display: none;
	width: 0;
  }

.shhh-grid {
	overflow-y: scroll;
	height: 82%;
	width: 97%;
	left: 0.5%;
	top: 11%;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: baseline;
	justify-content: space-between;
}

.shhh-grid > div {
	padding: 10.2px;
	flex: 1;
}

/* creating card for shhh */


.shhh-page-setup {
	position: relative;
	width: 80vw;
	height: 80vh;
}

.shhh-carousel-card::-webkit-scrollbar {
	display: none;
	width: 0;
  }

.shhh-carousel-card {
	display: flex;
  	height:100%;
  	overflow-x: scroll;
}

.shhh-carousel-card > div {
	margin:20px;
}

.Birth, .Sex, .Death{
	background-color: rgba(255, 255, 255, 0.298);
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 24px;
	transition: all 0.2s ease;
	width: 100%;
}


.Birth-img, .Sex-img, .Death-img {
	height: 65%;
}

 .Sex-img{
	width: 75%;
}

.Birth-img {
	width: 75%;
	margin-left: auto;
}


.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subhead {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 55px;
}

.Birth:hover, .Sex:hover, .Death:hover {
  transform: scale(1.1);
}


.headline-subhead {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  position: relative;
  width: 100%;
}

.headline {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  width: 100%;
}

.heading {
	flex: 1;
	font-size: 1.5vw;
	font-weight: 600;
	padding: 0, 1vw;
	white-space: nowrap;
  }

.Birth-title {
	color: #de8163;
}

.Sex-title {
	color: #9489dd;
  }

.Death-title {
	color: #ccc47c;
  }

.description{
	letter-spacing: 0;
	line-height: normal;
	margin-top: 1vw;
	width: 100%;
	color: white;
  	font-size: 1vw;
  	font-weight: 400;
}

.elephant {
	position: absolute;
	width: 50vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* ShhhPlayer*/
.shhh-player {
	padding: 5vw;
	background-color: #302D2D;
	height: 100vh;
	margin: 0px;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.shhh-player-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70%;
	justify-content: center;
	position: relative;
  }
  
  .shhh-player-vid {
	position: relative;
	background-color: white;
	border-radius: 5px;
	width: 70%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
  