server/node_modules
server/Dockerfile
server/.idea
server/.gitignore
.dockerignore
server/package-lock.json
server/interface

backend/api/_build/
backend/api/cover/
backend/api/deps/
backend/api/doc/
backend/api/.fetch
backend/api/erl_crash.dump
backend/api/*.ez
backend/api/tmp/
backend/api/toia-*.tar
backend/api/Accounts/
backend/api/*.env
backend/api/secrets/
backend/api/lib/toia_web/services/node_modules
backend/api/lib/toia_web/services/.gitignore
backend/api/lib/toia_web/services/.env
backend/api/lib/toia_web/services/secrets/
backend/q_api/.idea
backend/q_api/Dockerfile
backend/q_api/.gitignore
backend/q_api/.dockerignore
backend/q_api/.env
backend/speech-to-text/gcloud/node_modules/
backend/speech-to-text/gcloud/.env
backend/speech-to-text/gcloud/toia-capstone-2021-b944d1cc65aa.json
backend/speech-to-text/gcloud/toia-capstone-2021-a17d9d7dd482.json
backend/speech-to-text/gcloud/secrets/
backend/toia-dm/.idea
backend/toia-dm/Dockerfile
backend/toia-dm/.gitignore
backend/toia-dm/.dockerignore
backend/toia-dm/.env
backend/toia-dm/test/
backend/toia-dm/old_toia-dm_files/
backend/toia-dm/notebooks/
backend/translation/Transcripts/
backend/translation/secrets/
backend/translation/.env
interface/build
interface/node_modules
interface/.gitignore
server/.env