@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,600|Open+Sans:700,400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,500|Open+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  box-sizing: border-box;
}

/*ScrollBar
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: rgba(34, 214, 214, 0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
  height: 12px;
}*/

/*navbar*/
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

:root {
  --nv-color: #00587A;
  --bg-color: white;
  --hd-color: #008891;
  --t-color: #0F3057;
}
.nav-heading-bar {
  align-items: flex-start;
  /* background-color:  #7e7c7c; */
  background-color: var(--nv-color);
  display: inline-flex;
  flex-direction: row;
  height: 40px;
  justify-content: flex-start;
  left: 0px;
  padding: 9px;
  position: fixed;
  top: 0px;
  width: 1280px;
  z-index: 100;
}
.nav-toia_icon {
  top: 0%;
  /* left: 2.85%; */
  left: 40px;
  position: absolute;
  font-size: 28.4444px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  height: 40px;
  cursor: pointer;
  color: white;
}
.nav-about_icon {
  top: 0%;
  left: 60%;
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}
.nav-talk_icon {
  top: 0%;
  left: 70%;
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  height: 40px;
  width: 130px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}
.nav-my_icon {
  top: 0%;
  left: 80%;
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  height: 40px;
  width: 145px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}
.nav-login_icon {
  top: 0%;
  left: 90%;
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.015em;
  height: 40px;
  width: 120px;
  border-radius: 3px;
  cursor: pointer;
  color: var(--desert-storm);
  opacity: 0.8;
}
.nav-selected {
  opacity: 1;
}
.nav-deselect {
  opacity: 0.8;
}

.nav-about_icon:hover {
  opacity: 1;
}
.nav-talk_icon:hover {
  opacity: 1;
}
.nav-my_icon:hover {
  opacity: 1;
}
.nav-login_icon:hover {
  opacity: 1;
}

/*login popup*/
.login_popup {
  height: 40vh;
}
.login_header {
  text-align: center;
  color: var(--nv-color);
}
.login_welcome {
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: -0.015em;
}
.login_blurb {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.75);
}
.login_email {
  background-color: rgba(126, 124, 124, 0.1);
  border-radius: 3px;
  border: none;
  height: 31px;
  left: 9%;
  top: 15%;
  position: relative;
  padding: 5px;
  resize: none;
  text-align: left;
  width: 455px;
}
.login_pass {
  background-color: rgba(126, 124, 124, 0.1);
  border-radius: 3px;
  border: none;
  height: 31px;
  left: 9%;
  top: 23%;
  position: relative;
  padding: 5px;
  resize: none;
  text-align: left;
  width: 455px;
}
.login_button {
  background-color: transparent;
  position: absolute;
  height: 70px;
  width: 270px;
  top: 60%;
  left: 27%;
  transition: all 0.2s ease;
  cursor: pointer;
}
.login_text {
  position: absolute;
  top: 73%;
  left: 37%;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.015em;
  opacity: 0.45;
  cursor: pointer;
}
.login-font-class-1 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Montserrat-Medium", Helvetica, Arial, serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.21px;
}
.login_button:hover {
  transform: scale(1.1);
}

/*universal text*/
.app-monsterrat-black {
  /* color: black; */
  font-family: "Montserrat", Helvetica, Arial, serif;
  font-style: normal;
}
.app-opensans-normal {
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-style: normal;
  font-weight: bold;
}
