.job-internship-body {
	.search-tag {
		.search-tag-job-interview {
			input {
				width: 70%;
				height: 54px;
				border-color: transparent;
				background: #f1f3f5;
				border-radius: 10px;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 24px;
				color: #8c8c8c;
			}
		}
	}
}
