/node_modules
/public
.env
package-lock.json
*.DS_Store
# toia-capstone-2021-a17d9d7dd482.json
/.idea
/Accounts
/speech_to_text/toia-capstone-2021-b944d1cc65aa.json
/interface/build
manual_save/
/manual_save
manual_save