/node_modules
/public
.env
package-lock.json
*.DS_Store
# toia-capstone-2021-a17d9d7dd482.json
toia-capstone-2021-07c7a1b6d791.json
/.idea
/Accounts
/speech_to_text/toia-capstone-2021-b944d1cc65aa.json
/interface/build
/translation/toia-translation.json
/translation/.env
/mysql/toia_db.sql
/Transcripts/srts/*
/Transcripts/txts/*
/Transcripts/vtts/*